{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2 class="text-center">Create a new poll</h2>
      <hr><br>
      <form class="text-center" id="create-poll">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Type your question here" id="question" required>
        </div>
        <button type="submit" class="btn btn-default btn-block">Submit</button>
      </form>
      <br>
      <h4 id="message"></h4>
    </div>
  </div>

{% endblock %}
