{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="row text-center">
    <div class="col-sm-4 col-sm-offset-4">
      <h2>{{question}}</h2>
      <hr><br>
      <button type="button" class="btn btn-success glyphicon glyphicon-thumbs-up" data-id="{{poll}}" data-type="yay" data-loading-text=" ...">&nbsp;{{votes.yay}}</button>
      <button type="button" class="btn btn-success glyphicon glyphicon-thumbs-down" data-id="{{poll}}" data-type="nay" data-loading-text=" ...">&nbsp;{{votes.nay}}</button>
      <br><br><br>
      <h5>&#9786;</h5>
      <br>
      <h4 id="message"></h4>
    </div>
  </div>

{% endblock %}
